* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  background-color: #fafaf8;
}


.header {
  min-width: 720px;
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}
.header > img {
  width: 43px;
  height: 52px;
  margin-right: 10px;
}

.header > h1 {
  font-weight: 400;
  letter-spacing: -5%;
}

.home {
  margin-block: 30px;
}

.home > form {
  max-width: 500px;
  min-width: 150px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  gap: 10px;
}
.home > form input {
  padding: 7px 10px;
  border: solid 1px rgb(224, 224, 224);
  border-radius: 5px;
  flex-grow: 1;
}
.home > form input:focus {
  outline: none;
}
.home > form button {
  display: block;
  padding: 7px 10px;
  background-color: rgb(77, 77, 77);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.home > form button:hover {
  background-color: black
}
ul:first-child{
  padding-inline-start: 0px;
} 

section > ul{
  max-width: 500px;
  min-width: 150px;
  margin: 0px auto;
}
section > ul {
  /* list-style-type: none; */
  padding: 0px;
}
section > ul  {
  list-style-type: none;
}
section > ul li{
  color: #002459;
  text-transform: capitalize;
  padding-left: 30px;
  margin-block: 10px;
  position: relative;
}
section > ul li::before {
  content: "🔸";
  font-size: 12px;
  position:absolute;
  top: 50%;
  left:calc(0% + 10px);
  transform: translateY(-50%);
}

.generate-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F0EFEB;
  padding: 15px 25px;
  border-radius: 10px;
  max-width: 500px;
  min-width: 150px;
  margin: 30px auto;
}

.generate-recipe div > *  {
  margin-block: 10px;
}

.generate-recipe button {
  background-color: #D17557;
  padding: 10px 10px;
  border: none;
  color: white;
  font-size: 12px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

ul > button {
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #D17557;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul > button:hover {
  background-color:  #e87048;
}